[Desktop Entry]
Type=Application
Name=ZenRPC
Comment=Discord Rich Presence for active window
Exec=python3 main.py
Icon=discord
Terminal=false
Categories=Utility;
StartupNotify=false
