[Desktop Entry]
Type=Application
Name=ZenRPC
Comment=Discord Rich Presence for active window
Exec=sh -c "\"\\$(dirname \"%k\")/run.sh\""
# Optional: Set absolute Path and Exec if copying to ~/.local/share/applications/
# Path=/path/to/ZenRPC
# Exec=/path/to/ZenRPC/run.sh
Icon=discord
Terminal=false
Categories=Utility;
StartupNotify=false
